// ============================================================
// MediaQuery Width
// ============================================================
$width-br1920: 1920px;
$width-br1728: 1728px;
$width-br1440: 1440px;
$width-pc-min: 1024px;
$width-tablet-max: 1023px;
$width-tablet: 980px;
$width-smartphone: 767px;
$width-scrollbar: 15px;