@charset "utf-8";

/*-------------------------------------
  Reset
-------------------------------------*/

li {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption,
th {
  text-align: left;
}

hr {
  margin: 1em 0;
  padding: 0;
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
}

input,
select {
  vertical-align: middle;
}

input,
textarea {
  outline: none;
  border: none;
}

button {
  border: none;
  background-color: transparent;
}
