.toolrange {
  &__prod-detail {
    padding: 37px 80px 75px;
    background-color: #f4f4f4;

    &__head-breadcrumbs.toolrange__breadcrumbs {
      width: 100%;
      max-width: 2560px;
      margin: 0 auto;

      > a {
        font-size: 16px;
      }
      > a.current {
        color: #191819;
      }
    }

    &__prod {
      width: 100%;
      max-width: 2560px;
      margin: 40px auto 0;
      display: flex;
      gap: 30px;

      &-thumbnalls {
        flex-grow: 1;
        flex-shrink: 0;
        max-width: 80px;
        display: flex;
        flex-direction: column;
        gap: 14px;
      }

      &-thumbnall {
        flex-shrink: 0;
        width: 80px;
        height: 80px;
        padding: 5px;
        border-radius: 10px;
        border: 1px solid #bababa;
        background-color: #fff;
        overflow: hidden;
        cursor: pointer;
        transition: 0.2s ease-out;

        > img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          transition: 0.2s ease-out;
        }

        &:hover {
          border-color: #fbb039;

          > img {
            transform: scale(1.1);
          }
        }
      }

      &-view {
        flex-grow: 1;
        max-width: 630px;
        height: 550px;
        padding: 38px 62px;
        background-color: #fff;
        border-radius: 12px;
        // cursor: pointer;
        transition: 0.2s ease-out;

        > img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          transition: 0.2s ease-out;
        }

        &:hover {
          > img {
            transform: scale(1.1);
          }
        }
      }

      &-info {
        flex-grow: 1;

        > .info-group {
          display: flex;
          justify-content: space-between;
          gap: 20px;

          > p {
            margin-top: 4px;

            color: #bababa;
            font-family: "Kanit-Regular";
            font-size: 16px;
            font-weight: 400;
            line-height: 168.636%;
            text-transform: capitalize;
          }

          > button {
            cursor: pointer;
            transition: 0.1s ease-out;

            &:hover {
              transform: scale(1.08);
            }
          }
        }
      }

      &-name {
        margin-top: 3px;
        color: #191819;
        font-family: "Oswald-Regular";
        font-size: 40px;
        font-weight: 400;
        line-height: normal;
      }

      &-options-wrapper {
        margin-left: 4px;
      }

      &-options-title {
        margin: 15px 0;

        color: #000;
        font-family: "Kanit-Regular";
        font-size: 20px;
        font-weight: 400;
        line-height: normal;
        text-transform: capitalize;
      }

      &-options {
        display: flex;
        flex-direction: column;
        gap: 6px;
      }

      &-option {
        width: fit-content;
        padding: 6px 16px;
        border-radius: 8px;
        border: 1px solid #949494;
        background-color: #fff;
        overflow: hidden;

        color: #131313;
        font-family: "Kanit-Regular";
        font-size: 18px;
        font-weight: 400;
        line-height: 168.636%;
        text-transform: capitalize;
        cursor: pointer;
        transition: 0.1s ease-out;

        &:hover {
          border-color: #fbb039;
        }
      }
      &-option.option-active {
        border-color: #fbb039;
        position: relative;

        &::before {
          content: "";
          position: absolute;
          right: -5px;
          top: -15px;
          width: 22px;
          height: 34px;
          background-color: #fbb039;
          transform: rotate(-50deg);
        }

        &::after {
          content: "";
          position: absolute;
          top: 3.5px;
          right: 3.5px;
          width: 7.438px;
          height: 6.125px;
          background: url("../../assets/imgs/common/svgs/tick_small_white.svg")
            no-repeat center;
        }
      }

      &-price {
        margin-top: 23px;
        margin-left: 4px;
        display: flex;
        align-items: flex-end;
        gap: 12px;

        > .purchase-price {
          color: #191819;
          font-family: "Kanit-Medium";
          font-size: 32px;
          font-weight: 500;
          line-height: 120%;
        }

        > .original-price {
          color: #bababa;
          font-family: "Kanit-Light";
          font-size: 20px;
          font-weight: 300;
          line-height: 135%;

          margin-bottom: 2px;
        }
      }

      &-quantity-box {
        margin-top: 28px;
        display: flex;
        align-items: center;
        gap: 20px;

        > .quantity-title {
          color: #191819;
          font-family: "Kanit-SemiBold";
          font-size: 14px;
          font-weight: 600;
          line-height: 170%;
        }
      }

      &-quantity-action {
        display: flex;
        align-items: center;
        gap: 16px;

        > .decrease-quantity,
        .increase-quantity {
          position: relative;
          width: 32px;
          height: 32px;
          flex-shrink: 0;
          padding: 8px;
          border-radius: 32px;
          overflow: hidden;
          background: #fff url("../../assets/imgs/common/svgs/minus_black.svg")
            no-repeat center;
          cursor: pointer;

          &::before {
            content: "";
            position: absolute;
            top: -4px;
            left: -4px;
            width: 36px;
            height: 36px;
            border-radius: 36px;
            border: 2px dashed #fff;
            transition: 0.1s ease-out;
            opacity: 0;
          }

          &:hover {
            overflow: initial;

            &::before {
              opacity: 1;
            }
          }
        }

        > .increase-quantity {
          background: #191819
            url("../../assets/imgs/common/svgs/plus_white.svg") no-repeat center;

          &::before {
            border-color: #191819;
          }
        }

        > :is(.decrease-quantity, .increase-quantity).disable {
          pointer-events: none;
        }

        > .quantity {
          color: #191819;
          font-family: "Lucida Sans Unicode", sans-serif;
          font-size: 14px;
          font-weight: 600;
          line-height: normal;
        }
      }

      &-btn-add {
        margin-top: 30px;
        width: 100%;
        max-width: 407px;
        height: 48px;
        padding: 10px 40px;
        border-radius: 12px;
        background-color: #191819;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        cursor: pointer;
        transition: 0.2s ease-out;

        color: #fff;
        text-align: center;
        font-family: "Kanit-SemiBold";
        font-size: 16px;
        font-weight: 600;
        line-height: 120%;

        &::after {
          content: "";
          width: 16px;
          height: 16px;
          flex-shrink: 0;
          background: url("../../assets/imgs/common/svgs/cart_white.svg")
            no-repeat center;
        }

        &:hover {
          transform: scale(1.02);
        }
      }
    }

    &__description {
      width: 100%;
      max-width: 2560px;
      margin: 84px auto 0;

      &-title {
        color: #191819;
        font-family: "Oswald-Regular";
        font-size: 40px;
        font-weight: 400;
        line-height: normal;
      }

      &-blocks {
        margin-top: 22px;
        display: flex;
        flex-direction: column;
        gap: 16px;
      }

      &-block {
        align-self: stretch;
        border-radius: 20px;
        padding: 20px 20px 35px 20px;
        background-color: #fff;
      }

      &-block.block-tab {
        padding: 10px 20px 35px 20px;
        min-height: 795px;
      }

      &-tag {
        color: #191819;
        font-family: "Kanit-Medium";
        font-size: 24px;
        font-weight: 500;
        line-height: 123%;
        text-transform: capitalize;
      }

      &-content {
        margin-top: 34px;

        > p {
          color: #000;
          font-family: "Kanit-Regular";
          font-size: 18px;
          font-weight: 400;
          line-height: 168.636%;
          text-transform: capitalize;
        }
      }

      &-tabs {
        display: flex;
        justify-content: center;
        gap: 12px;

        > button {
          color: #131313;
          font-family: "Kanit-Regular";
          font-size: 20px;
          font-weight: 400;
          line-height: normal;
          text-transform: capitalize;

          padding: 10px;
          position: relative;
          cursor: pointer;
          transition: 0.2s ease-out;

          &:hover {
            color: #fbb039;
          }
        }

        > button.tab-active {
          color: #fbb039;

          &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 2px;
            background-color: #fbb039;
          }
        }
      }

      &-view {
        display: none;
        margin-top: 40px;
      }
      &-view.view-active {
        display: grid;
      }

      &-view.view-img {
        grid-template-columns: repeat(2, 1fr);
        gap: 12px;

        .img-left {
          display: flex;

          > img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        .img-right {
          &-top {
            display: flex;

            > img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }

          &-bottom {
            margin-top: 24px;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 12px;

            > img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
        }
      }

      &-view.view-video {
        > iframe {
          display: block;
          max-width: 988px;
          margin: 0 auto;
        }
      }
    }

    &__reviews {
      margin-top: 16px;
      align-self: stretch;
      border-radius: 20px;
      padding: 30px 107px 62px 122px;
      background-color: #fff;

      &-title {
        text-align: center;

        color: #191819;
        font-family: "Kanit-Medium";
        font-size: 32px;
        font-weight: 500;
        line-height: 130%;
        text-transform: capitalize;
      }

      &-group {
        margin-top: 34px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 99px;

        .line-break {
          width: 1px;
          height: 82px;
          background: #949494;
        }

        .total-rating {
          color: #000;
          font-family: "Kanit-Regular";
          font-size: 18px;
          font-weight: 400;
          line-height: 168.636%;
          text-transform: capitalize;
        }
      }

      &-sub-group {
        display: flex;
        align-items: center;
        gap: 13.25px;

        > .average-number-of-stars {
          display: none;
          color: #000;
          font-family: "Kanit-Regular";
          font-size: 61.239px;
          font-style: normal;
          font-weight: 400;
          // line-height: 168.636%;
          text-transform: capitalize;
        }
      }

      &-stars {
        display: flex;
        justify-content: flex-end;
        transform: rotateY(180deg);
      }

      &-star {
        flex-shrink: 0;
        width: 28px;
        height: 28px;
        background: #fff url("../../assets/imgs/common/svgs/star.svg") no-repeat
          center;
        background-size: cover;
        cursor: pointer;
        transition: 0.1s ease-out;

        &:hover {
          background-image: url("../../assets/imgs/common/svgs/star_fill.svg");

          ~ .toolrange__prod-detail__reviews-star {
            background-image: url("../../assets/imgs/common/svgs/star_fill.svg");
          }
        }
      }
      &-star.star-active {
        background-image: url("../../assets/imgs/common/svgs/star.svg");
      }

      &-btn {
        padding: 8px 30px;
        border-radius: 6px;
        background-color: #fbb039;
        cursor: pointer;
        transition: 0.2s ease-out;
        border: 2px solid #fbb039;

        color: #fff;
        font-family: "Kanit-Medium";
        font-size: 18px;
        font-weight: 500;
        line-height: normal;
        text-transform: capitalize;

        &:hover {
          background-color: #fff;

          color: #fbb039;
        }
      }

      &-wrapper {
        margin-top: 37.25px;

        > .review-list {
          display: flex;
          flex-direction: column;
          gap: 12px;

          .review-item {
            padding: 20px 40px;
            border-radius: 12px;
            border: 1px solid #949494;

            &__title {
              color: #000;
              font-family: "Kanit-Regular";
              font-size: 18px;
              font-weight: 400;
              line-height: 168.636%;
              text-transform: capitalize;
            }

            &__stars {
              margin: 3px 0;

              > .review-item__star {
                pointer-events: none;
                width: 20px;
                height: 20px;
              }
              > .review-item__star.star-active {
                background-image: url("../../assets/imgs/common/svgs/star_fill.svg");
              }
            }

            &__message {
              color: #515151;
              font-family: "Kanit-Regular";
              font-size: 16px;
              font-weight: 400;
              line-height: 168.636%;
              text-transform: capitalize;
            }
          }
        }

        .review-pagination {
          width: fit-content;
          margin: 0 auto;
          display: flex;
          align-items: center;

          &__btn {
            margin-top: 37.25px;

            flex-shrink: 0;
            width: 32px;
            height: 32px;
            padding: 4px;
            border-radius: 3px;
            background-color: rgba(255, 255, 255, 0);
            transition: 0.1s ease-out;
            cursor: pointer;
          }

          &__btn.btn-page {
            color: #131313;
            font-family: "Kanit-Regular";
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;

            &:hover {
              background-color: #fafafa;
            }
          }
          &__btn.btn-page.page-active {
            background-color: #ed1c24;

            color: #fafafa;
          }

          &__btn.btn-none {
            pointer-events: none;
          }

          &__btn:is(.btn-prev, .btn-next) {
            background: url("../../assets/imgs/common/svgs/chevron_down_small_black.svg")
              no-repeat center;
            transition: 0.1s ease-out;

            &:hover {
              background-color: #fafafa;
            }
          }

          &__btn.btn-prev {
            transform: rotate(90deg);
          }
          &__btn.btn-next {
            transform: rotate(-90deg);
          }
          &__btn:is(.btn-prev, .btn-next).disable {
            pointer-events: none;
            opacity: 0.5;
          }
        }
      }
    }

    &__reviews.non-first {
      .toolrange__prod-detail__reviews-sub-group {
        > .average-number-of-stars {
          display: block;
        }

        .toolrange__prod-detail__reviews-star {
          pointer-events: none;
        }

        .toolrange__prod-detail__reviews-star.star-active {
          background-image: url("../../assets/imgs/common/svgs/star_fill.svg");
        }
      }

      .toolrange__prod-detail__reviews-btn {
        background-color: #ed1c24;
        border: 2px solid #ed1c24;

        color: #fff;

        &:hover {
          background-color: #fff;

          color: #ed1c24;
        }
      }
    }

    &__slider {
      &-group {
        display: flex;
        justify-content: space-between;
      }

      &-title {
        color: #131313;
        font-family: "Oswald-Regular";
        font-size: 40px;
        font-weight: 400;
        line-height: normal;
      }

      &-actions {
        margin-top: 3.5px;
        height: fit-content;
        display: flex;
        align-items: center;
        gap: 21px;

        .swiper-button-next,
        .swiper-button-prev,
        .swiper-pagination {
          position: initial;
          height: fit-content;
        }

        .swiper-button-next,
        .swiper-button-prev {
          flex-shrink: 0;
          width: 40px;
          height: 40px;
          border-radius: 40px;
          margin: 0;
          overflow: hidden;
          background: url("../../assets/imgs/common/svgs/btn-chevron-right-orange.svg")
            no-repeat center;

          &::after {
            display: none;
          }
        }

        .swiper-button-prev {
          background-image: url("../../assets/imgs/common/svgs/btn-chevron-right-orange.svg");
          transform: rotate(180deg);
        }

        :is(.swiper-button-next, .swiper-button-prev).swiper-button-disabled {
          background-image: url("../../assets/imgs/common/svgs/btn-chevron-right-grey.svg");
        }

        .swiper-pagination {
          &-bullet {
            width: 7px;
            height: 7px;
            background-color: #d9d9d9;
            opacity: 1;
            margin: 0 10px !important;
          }
          &-bullet.swiper-pagination-bullet-active {
            background-color: #fbb039;
          }
        }
      }

      &-slides {
        margin-top: 30px;
      }

      &-slide {
        .slide-img {
          height: 251px;
          padding: 22px 5.5px;
          background-color: #fff;
          border-radius: 12px;
          border: 1px solid #d9d9d9;
          overflow: hidden;
          transition: 0.2s ease-out;

          > img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: 0.2s ease-out;
          }
        }

        .img-content {
          margin-top: 20px;
          padding-bottom: 2px;
          align-self: stretch;

          > p {
            color: #404040;
            font-family: "Kanit-Medium";
            font-size: 20px;
            font-weight: 500;
            line-height: normal;
            text-transform: capitalize;
            transition: 0.2s ease-out;
          }
        }

        &:hover {
          transform: unset;

          .slide-img {
            border-color: #fbb039;

            > img {
              transform: scale(1.06);
            }
          }

          .img-content {
            > p {
              color: #fbb039;
            }
          }
        }
      }
    }

    &__slider.recommended-combinations__slider {
      margin-top: 80px;
    }

    &__slider.ymalSwiper {
      margin-top: 150px;
    }
  }
}
