.toolrange {
  &__footer {
    width: 100%;
    max-width: 2560px;
    margin: 0 auto;
    background-color: #292929;

    &__content {
      padding: 67px 114px 42px 79px;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      color: #fff;

      &-logo {
        width: 214px;
        height: 50px;
        display: flex;

        > img {
          width: 100%;
          height: 100%;
        }

        &:hover {
          transform: unset;
        }
      }

      &-info {
        > h4 {
          color: #fff;
          font-family: "Kanit-Bold";
          font-size: 20px;
          font-weight: 700;
          line-height: normal;
          text-transform: uppercase;
        }

        > ul {
          display: flex;
          flex-direction: column;
          gap: 11px;

          > li {
            display: flex;
            align-items: center;
            gap: 15px;

            > p {
              color: #fff;

              font-family: "Kanit-Light";
              font-size: 20px;
              font-weight: 400;
              line-height: 123%;
              text-decoration-line: underline;
              text-decoration-style: solid;
              text-decoration-skip-ink: auto;
              text-decoration-thickness: auto;
              text-underline-offset: auto;
              text-underline-position: from-font;
              cursor: pointer;
              transition: 0.2s ease-out;

              &:hover {
                text-decoration: none;
              }
            }
          }
        }
      }

      &-map {
        margin-top: 18px;
        width: 228px;
        height: 128px;

        > iframe {
          width: 100%;
          height: 100%;
        }
      }

      &-follow {
        margin-top: 18px;

        > h4 {
          color: #fbb039;
          font-family: "Oswald-SemiBold";
          font-size: 20px;
          font-weight: 700;
          line-height: normal;
          text-transform: uppercase;
        }

        > ul {
          display: flex;
          align-items: center;
          gap: 5px;

          > li {
            flex-shrink: 0;
          }

          &:last-child {
            margin-top: 24px;
            align-items: flex-start;
            gap: 15px;

            > li {
              &:first-child {
                display: flex;
                width: 90px;
                height: 52px;
              }
              &:last-child {
                display: flex;
                width: 60px;
                height: 58px;
              }

              > img {
                width: 100%;
                height: 100%;
              }
            }
          }
        }
      }
    }

    &__grid-item {
      > h4 {
        color: #fbb039;
        font-family: "Oswald-SemiBold";
        font-size: 20px;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;
      }

      > ul {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        gap: 5px;

        > li {
          color: #fff;
          font-family: "Kanit-Light";
          font-size: 16px;
          font-weight: 400;
          line-height: 123%;
        }
      }

      &:nth-child(2) {
        max-width: 210px;
        margin-left: 55px;
      }
      &:nth-child(3) {
        max-width: 181px;
        margin-left: 100px;

        > ul {
          &:nth-child(2) {
            height: 120px;
            margin-bottom: 48px;
          }
        }
      }
      &:nth-child(4) {
        max-width: 300px;
        margin-left: 66px;

        > ul {
          &:nth-child(2) {
            margin-bottom: 48px;
          }
        }
      }
    }

    &__reserved {
      padding: 15px 20px 19px;
      background-color: #414141;
      display: flex;
      justify-content: center;
      align-items: center;

      > p {
        color: #949494;
        font-family: "Kanit-Light";
        font-size: 16px;
        font-weight: 400;
        line-height: 123%; /* 19.68px */
      }
    }
  }
}
